.button {
  width: 100%;
  font: inherit;
  border: 1px solid hsl(20, 100%, 60%);
  border-radius: 25px;
  background: hsl(30, 100%, 60%);
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: hsl(20, 100%, 60%);
  border-color: hsl(20, 100%, 60%);
}

.button:focus {
  outline: none;
}

@media (min-width: 768px) {
  .button {
    width: auto;
  }
}